<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>
<h1>Login</h1>
<img th:src="@{/images/cat.jpeg}"/>
<div th:if="${error}">
    Unable to login. Check your username and password.
</div>
<p>New here? Click
    <a th:href="@{/register}">here</a> to register.</p>
<!-- tag::thAction[] -->
<form method="POST" th:action="@{/login}">
    <!-- end::thAction[] -->
    <label for="username">Username: </label>
    <input type="text" name="username"/><br/>
    <label for="password">Password: </label>
    <input type="password" name="password"/><br/>
    <input type="submit" value="Login"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>
</body>
</html>